.transferhist-container{
      margin-top:120px;
      height:600px;
            }
.main button{
                position: relative;
                margin: 20px;
                left: 20%;
                color: black;
                border: 5px solid #ffa601;
                border-radius: 10px;
                padding:20px;
                font-weight: 300;
}

.main{
      display: flex;
      justify-content: space-around;
}

.main button:hover{
                background-color: #ffa601;
                color: rgb(0, 0, 0);
                transition: .5s;
                cursor: pointer;
}